.jumbotron {
  background-image: url("./Images/image.jpg");
  background-size: cover;
  color: #FFFFFF;
  font-style: italic;
}

.navbar {
  background-color:	#6000c4;
  border-color: #6bb9ff ;
  background-repeat: no-repeat;
}

.nav.navbar-nav a {
  color: #dbdbdb !important;
  font-size: 110%;
}

nav a:hover {
  background-color: #001b7f !important;
}

/* Change Underline
li.current_nav {
  text-decoration: underline;
}

*/

.nav.navbar-nav li.current_nav a {
  color: #FFFFFF !important;
}

/*
a, a:hover, a:visited, h3 {
  color: #FFFFFF;
  font-weight: bold;
}
*/

a:link {
	color: #0069e2;
}

a:hover {
	color: #001b7f;
}

a:visited {
	color: #9d85df;
}

p {
  font-size: 120%;
}

p.my_padding {
  padding: 0 40px 0 30px;
  text-align: justify;
}
